<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Printique</title>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://db.onlinewebfonts.com/c/ff57d0d9febdd79818b0bfc7b1e15dd8?family=Forum"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg py-3">
      <div class="container">
        <a class="navbar-brand" href="/">PRINTIQUE</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/products" id="products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/designs" id="design">Saved Designs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about-us" id="about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login" id="login">Login / Signup</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero container">
      <h1>Designed By You, Printed By Us</h1>
      <p>
        Create unique, eco-friendly 3D-printed décor — lamps, shelves, tables,
        and more — customized just for you. Upload your design or let AI bring
        your ideas to life.
      </p>
      <a href="/products" class="btn">Start Designing</a>
    </section>

    <!-- Features Section -->
    <section
      class="features container text-center my-5"
      id="feature-cards-container"
    >
      <h2 class="mb-5">Featured Products Designed By Our Customers</h2>
      <div class="row g-4"></div>
    </section>

    <!-- <footer class="footer">© 2025 Printique. All rights reserved.</footer> -->
    <footer class="footer">
      <div class="footer-container">
        <p class="brand">PRINTIQUE</p>

        <div class="social-links">
          <a href="https://www.instagram.com/printique_uae?igsh=cnpmeXI1cDJkbnE1&utm_source=qr">Instagram</a>
        </div>

        <p class="copy">© 2025 Printique. All rights reserved.</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../scripts/home.js"></script>
    <!-- <script src="../scripts/updateLink.js"></script> -->
  </body>
</html>
