<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Catalogue | Printique</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://db.onlinewebfonts.com/c/ff57d0d9febdd79818b0bfc7b1e15dd8?family=Forum"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/styles/payment.css" />
  </head>

  <body>
    <h1>Payment</h1>
    <div
      id="popup"
      style="
        display: none;
        position: fixed;
        top: 20px;
        right: 20px;
        background: #28a745;
        color: white;
        padding: 15px 25px;
        border-radius: 8px;
        z-index: 1000;
      "
    >
      ✅ Payment successful!
    </div>
    <div class="payment-container">
      <!-- CARD PAYMENT -->
      <div id="card" class="payment-option">
        <h3 style="text-align: center">Pay with Card</h3>
        <form id="cardForm">
          <label for="card_number"
            >Card Number:
            <input
              name="card_number"
              id="card_number"
              type="number"
              placeholder="1234 5678 9012 3456"
              required
          /></label>

          <label for="expiry"
            >Expiry Date:
            <input type="month" name="expiry" id="expiry" required />
          </label>

          <label for="cvv"
            >CVV:
            <input
              type="number"
              name="cvv"
              id="cvv"
              placeholder="123"
              required
            />
          </label>

          <label for="name"
            >Name on Card:
            <input
              type="text"
              name="name"
              id="name"
              placeholder="John Doe"
              required
            />
          </label>

          <div class="btn-container">
            <button type="submit" id="pay">Pay</button>
            <button type="reset">Cancel</button>
          </div>
        </form>
      </div>
    </div>

    <script src="/scripts/payment.js"></script>
  </body>
</html>
