<html>
  <head>
    <title>Payment Catalogue | Printique</title>
    <style>
      div {
        border: 2px solid green;
      }
    </style>
  </head>
  <body>
    <h1>Payment</h1>
    <div class="card-container">
      <form action="" method="post">
        <label for="card_number">Card Number:
          <input name="card_number" id="card_number" type="number" /></label
        ><br />
        <label for="expiry_month">Expiry Month: <input type="number" name="expiry_month" /></label
        ><br />
        <label for="cvv"> CVV: <input type="number" name="cvv" /></label><br />
        <label for="name">Name: <input type="number" name="name" /></label
        ><br />
        <button type="submit">Pay</button>
        <button type="reset">Cancel</button>
      </form>
    </div> 
  </body>
</html>
