body {
  background-color: #d1bfb3;
  color: #26211d;
  font-family: "Poppins", sans-serif;
}

.placeholder-box {
  background-color: #a50b0b;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 50%;
  padding-bottom: 50%;
}

.search-bar {
  max-width: 100%;
}
