body {
  background-color: #d1bfb3;
  color: #26211d;
  font-family: "Forum", sans-serif;
}

/* Navbar */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #1a1a1a !important;
}

.nav-link {
  color: #333 !important;
  font-weight: 500;
  margin-right: 15px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #a18867 !important;
  border: 2px solid #a18867;
  border-radius: 10px;
}

/* Hero Section */
.hero {
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  padding: 100px 20px;
  margin: 50px auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.hero h1 {
  font-weight: 700;
  margin-bottom: 20px;
  color: #1a1a1a;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero .btn {
  border: 3px solid #a18867;
  /* border: none; */
  color: #8e7554;
  background-color: white;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.hero .btn:hover {
  background-color: #8e7554;
   border-radius: 10px; 
   color: white;
}

/* Features */
.features {
  padding: 80px 0;
}

.feature-card {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h4 {
  color: #a18867;
  margin-top: 20px;
  font-weight: 600;
}

.feature-card {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.feature-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover; 
  border-radius: 10px; 
  background-color: #f5f5f5; 
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h4 {
  color: #a18867;
  font-weight: 600;
}
