body {
  font-family: "Forum", sans-serif;
  background-color: #d1bfb3;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 30px;
}

.payment-container {
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  /* background: white; */
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-option {
  border: 2px solid rgb(28, 28, 27);
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
}

.payment-option h3 {
  margin: 0 0 10px;
  color: #444;
}

form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

input[type="text"],
input[type="number"],
input[type="month"],
input[type="email"] {
  width: 95%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: rgb(0, 0, 0);
  color: gold;
  font-weight: bold;
}

button[type="reset"] {
  background-color: #ddd;
}

.hidden {
  display: none;
}

.method-select {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.method-select label {
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

input[type="radio"] {
  margin-right: 6px;
}
