body {
  font-family: "Forum", sans-serif;
  background-color: #d1bfb3;
  margin: 0;
  /* padding: 20px; */
}
.design-item {
  background-color: #f9f9f9;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* Navbar */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #1a1a1a !important;
}

.nav-link {
  color: #333 !important;
  font-weight: 500;
  margin-right: 15px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #a18867 !important;
  border: 2px solid #a18867;
  border-radius: 10px;
}
